.portfolio-item {
  margin-bottom: 20px;
}
.center-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}
.icon-wrapper i {
      transition: transform 0.3s ease-in-out;
  }

  .icon-wrapper i:hover {
      transform: scale(1.2);
  }
  .portfolio-item .card-img-top {
transition: transform 0.3s ease-in-out;
}

.portfolio-item .card-img-top:hover {
transform: scale(1.05);
}

.btn-dark:i {
transform: scale(1.2);
}

.btn-dark:hover {
background-color: #5b6168;
border-color: #ffffff;
}